openapi: 3.0.3
info:
  title: TempoGeoPolitical Map RESTful API
  version: 0.0.1
servers:
  - description: Localhost
    url: https://template.com
security:
  - JWT: [ ]
tags:
  - description: Historical Political Events APIs
    name: Events
paths:
  /v1/events:
    get:
      operationId: v1_events_get
      parameters:
        - description: Default accept header
          example: application/json
          explode: false
          in: header
          name: Accept
          required: false
          schema:
            type: string
          style: simple
        - description: Type(s) of an Event:<br> <ul> <li>`elections` - State elections,
            e.g. presidential, parliament etc.</li> <li>`war` - Wars or military conflicts.</li>
            </ul>
          example: elections,war
          explode: false
          in: query
          name: types
          required: false
          schema:
            $ref: '#/components/schemas/EventTypeList'
          style: form
        - description: World Regions.<br> <ul> <li>`east_asia_and_pacific`</li> <li>`europe_and_central_asia`</li>
            <li>`latin_america_and_caribbean`</li> <li>`middle_east_and_north_africa`</li>
            <li>`north_america`</li> <li>`south_asia`</li> <li>`sub_saharan_africa`</li>
            </ul>
          example: europe_and_central_asia,middle_east_and_north_africa
          explode: false
          in: query
          name: regions
          required: false
          schema:
            $ref: '#/components/schemas/RegionList'
          style: form
        - description: Country code(s) to filter Events by.
          example: fra,gbr
          explode: false
          in: query
          name: countries
          required: false
          schema:
            $ref: '#/components/schemas/CountryCodeList'
          style: form
        - description: Timeslot Start Date/Time to filter by.
          explode: true
          in: query
          name: timeslot_start
          required: false
          schema:
            $ref: '#/components/schemas/DateTime'
          style: form
        - description: Timeslot End Date/Time to filter by.
          example: 2022-05-30T18:20:00Z
          explode: true
          in: query
          name: timeslot_end
          required: false
          schema:
            $ref: '#/components/schemas/DateTime'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponseBody'
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
          description: Forbidden
      security:
        - JWT: [ ]
      summary: List of Historical Political Events.
      tags:
        - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
components:
  parameters:
    Accept:
      description: Default accept header
      example: application/json
      explode: false
      in: header
      name: Accept
      required: false
      schema:
        type: string
      style: simple
    EventTypeListQueryParameter:
      description: Type(s) of an Event:<br> <ul> <li>`elections` - State elections,
        e.g. presidential, parliament etc.</li> <li>`war` - Wars or military conflicts.</li>
        </ul>
      example: elections,war
      explode: false
      in: query
      name: types
      required: false
      schema:
        $ref: '#/components/schemas/EventTypeList'
      style: form
    EventRegionListQueryParameter:
      description: World Regions.<br> <ul> <li>`east_asia_and_pacific`</li> <li>`europe_and_central_asia`</li>
        <li>`latin_america_and_caribbean`</li> <li>`middle_east_and_north_africa`</li>
        <li>`north_america`</li> <li>`south_asia`</li> <li>`sub_saharan_africa`</li>
        </ul>
      example: europe_and_central_asia,middle_east_and_north_africa
      explode: false
      in: query
      name: regions
      required: false
      schema:
        $ref: '#/components/schemas/RegionList'
      style: form
    EventCountryListQueryParameter:
      description: Country code(s) to filter Events by.
      example: fra,gbr
      explode: false
      in: query
      name: countries
      required: false
      schema:
        $ref: '#/components/schemas/CountryCodeList'
      style: form
    TimeslotStartDateQueryParameter:
      $ref: '#/components/parameters/TimeslotEndDateQueryParameter'
    TimeslotEndDateQueryParameter:
      description: Timeslot Start Date/Time to filter by.
      explode: true
      in: query
      name: timeslot_start
      required: false
      schema:
        $ref: '#/components/schemas/DateTime'
      style: form
  schemas:
    EventType:
      description: Type of an Event.
      enum:
        - elections
        - war
      title: EventType
      type: string
    EventTypeList:
      description: List of Event Types to filter Events.
      items:
        $ref: '#/components/schemas/EventType'
      maxItems: 1000
      type: array
    WikidataId:
      description: Record ID of a data item in https://www.wikidata.org.
      example: Q30638578
      title: wikidata-id
      type: string
    EventName:
      description: Name of a historical political Event.
      example: 2022 French presidential election
      title: name
      type: string
    Region:
      description: World Region.
      enum:
        - east_asia_and_pacific
        - europe_and_central_asia
        - latin_america_and_caribbean
        - middle_east_and_north_africa
        - north_america
        - south_asia
        - sub_saharan_africa
      title: Region
      type: string
    RegionList:
      description: List of World Regions to filter Events.
      items:
        $ref: '#/components/schemas/Region'
      maxItems: 10
      type: array
    CountryCode:
      description: Country Codes.
      title: CountryCode
      type: string
    CountryCodeList:
      description: List of Country Codes to filter Events.
      items:
        $ref: '#/components/schemas/CountryCode'
      maxItems: 250
      type: array
    Country:
      description: Information about a Country related to the Event.
      example:
        wikidata-id: Q30638578
        name: France
      properties:
        wikidata-id:
          description: Record ID of a data item in https://www.wikidata.org.
          example: Q30638578
          title: wikidata-id
          type: string
        name:
          example: France
          title: name
          type: string
      title: Country
      type: object
    CountryList:
      description: List of Countries related to the Event.
      items:
        $ref: '#/components/schemas/Country'
      maxItems: 200
      title: countries
      type: array
    Location:
      description: Information about a Location related to the Event.
      example:
        coodrinate: 48.853410,2.348800
        wikidata-id: Q30638578
        name: Paris
      properties:
        wikidata-id:
          description: Record ID of a data item in https://www.wikidata.org.
          example: Q30638578
          title: wikidata-id
          type: string
        name:
          example: Paris
          title: name
          type: string
        coodrinate:
          example: 48.853410,2.348800
          title: coodrinate
          type: string
      title: Location
      type: object
    LocationList:
      description: List of Locations related to the Event.
      items:
        $ref: '#/components/schemas/Location'
      maxItems: 200
      title: locations
      type: array
    DateTime:
      description: Event timestamp; can be time or date, as well as month or year.
      example: 2021-01-30T08:30:00Z
      format: date-time
      title: start-time
      type: string
    Event:
      description: Historical political Event.
      example:
        start-time: 2021-01-30T08:30:00Z
        wikidata-id: Q30638578
        end-time: 2021-01-30T08:30:00Z
        name: 2022 French presidential election
        locations:
          - coodrinate: 48.853410,2.348800
            wikidata-id: Q30638578
            name: Paris
          - coodrinate: 48.853410,2.348800
            wikidata-id: Q30638578
            name: Paris
          - coodrinate: 48.853410,2.348800
            wikidata-id: Q30638578
            name: Paris
          - coodrinate: 48.853410,2.348800
            wikidata-id: Q30638578
            name: Paris
          - coodrinate: 48.853410,2.348800
            wikidata-id: Q30638578
            name: Paris
        countries:
          - wikidata-id: Q30638578
            name: France
          - wikidata-id: Q30638578
            name: France
          - wikidata-id: Q30638578
            name: France
          - wikidata-id: Q30638578
            name: France
          - wikidata-id: Q30638578
            name: France
      properties:
        type:
          $ref: '#/components/schemas/EventType'
        wikidata-id:
          description: Record ID of a data item in https://www.wikidata.org.
          example: Q30638578
          title: wikidata-id
          type: string
        name:
          description: Name of a historical political Event.
          example: 2022 French presidential election
          title: name
          type: string
        countries:
          description: List of Countries related to the Event.
          items:
            $ref: '#/components/schemas/Country'
          maxItems: 200
          title: countries
          type: array
        locations:
          description: List of Locations related to the Event.
          items:
            $ref: '#/components/schemas/Location'
          maxItems: 200
          title: locations
          type: array
        start-time:
          description: Event timestamp; can be time or date, as well as month or year.
          example: 2021-01-30T08:30:00Z
          format: date-time
          title: start-time
          type: string
        end-time:
          description: Event timestamp; can be time or date, as well as month or year.
          example: 2021-01-30T08:30:00Z
          format: date-time
          title: start-time
          type: string
      required:
        - countries
        - name
        - start-time
        - type
        - wikidata-id
      title: Event
      type: object
    EventResponseBody:
      properties:
        data:
          $ref: '#/components/schemas/Event'
      type: object
    EventListResponseBody:
      example:
        data:
          - start-time: 2021-01-30T08:30:00Z
            wikidata-id: Q30638578
            end-time: 2021-01-30T08:30:00Z
            name: 2022 French presidential election
            locations:
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
            countries:
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
          - start-time: 2021-01-30T08:30:00Z
            wikidata-id: Q30638578
            end-time: 2021-01-30T08:30:00Z
            name: 2022 French presidential election
            locations:
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
            countries:
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
          - start-time: 2021-01-30T08:30:00Z
            wikidata-id: Q30638578
            end-time: 2021-01-30T08:30:00Z
            name: 2022 French presidential election
            locations:
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
            countries:
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
          - start-time: 2021-01-30T08:30:00Z
            wikidata-id: Q30638578
            end-time: 2021-01-30T08:30:00Z
            name: 2022 French presidential election
            locations:
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
            countries:
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
          - start-time: 2021-01-30T08:30:00Z
            wikidata-id: Q30638578
            end-time: 2021-01-30T08:30:00Z
            name: 2022 French presidential election
            locations:
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
              - coodrinate: 48.853410,2.348800
                wikidata-id: Q30638578
                name: Paris
            countries:
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
              - wikidata-id: Q30638578
                name: France
      properties:
        data:
          items:
            $ref: '#/components/schemas/Event'
          maxItems: 10000
          title: data
          type: array
      title: EventListResponseBody
      type: object
    BasicErrorObject:
      properties:
        id:
          example: a1
          title: id
          type: string
        status:
          description: The HTTP status code applicable to this problem, expressed
            as a string value.
          title: status
          type: integer
        code:
          description: An application-specific error code, expressed as a string value.
          title: code
          type: integer
        title:
          description: A short, human-readable summary of the problem.
          title: title
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem.
          title: detail
          type: string
        source:
          description: An object containing references to the source of the error.
          title: source
          type: string
      title: BasicErrorObject
      type: object
    Error400:
      allOf:
        - $ref: '#/components/schemas/BasicErrorObject'
        - $ref: '#/components/schemas/Error400_allOf'
      title: Error400
    Error401:
      allOf:
        - $ref: '#/components/schemas/BasicErrorObject'
        - $ref: '#/components/schemas/Error401_allOf'
    Error403:
      allOf:
        - $ref: '#/components/schemas/BasicErrorObject'
        - $ref: '#/components/schemas/Error403_allOf'
      title: Error403
    Error404:
      allOf:
        - $ref: '#/components/schemas/BasicErrorObject'
        - $ref: '#/components/schemas/Error404_allOf'
    Error409:
      allOf:
        - $ref: '#/components/schemas/BasicErrorObject'
        - $ref: '#/components/schemas/Error409_allOf'
    Error422:
      allOf:
        - $ref: '#/components/schemas/BasicErrorObject'
        - $ref: '#/components/schemas/Error422_allOf'
    Error429:
      allOf:
        - $ref: '#/components/schemas/BasicErrorObject'
        - $ref: '#/components/schemas/Error429_allOf'
    Error400_allOf:
      properties:
        status:
          example: 400
          title: status
        title:
          example: Bad request
          title: title
      title: Error400_allOf
      type: object
    Error401_allOf:
      properties:
        status:
          example: 401
          title: status
        title:
          example: Unauthorized
          title: title
      title: Error401_allOf
      type: object
    Error403_allOf:
      properties:
        status:
          example: 403
          title: status
        title:
          example: Forbidden
          title: title
      title: Error403_allOf
      type: object
    Error404_allOf:
      properties:
        status:
          example: 404
          title: status
        title:
          example: Not Found
          title: title
      title: Error404_allOf
      type: object
    Error409_allOf:
      properties:
        status:
          example: 409
          title: status
        title:
          example: Conflict
          title: title
      title: Error409_allOf
      type: object
    Error422_allOf:
      properties:
        status:
          example: 422
          title: status
        title:
          example: Unprocessable entity
          title: title
      title: Error422_allOf
      type: object
    Error429_allOf:
      properties:
        status:
          example: 429
          title: status
        title:
          example: Too many requests
          title: title
      title: Error429_allOf
      type: object
  securitySchemes:
    JWT:
      bearerFormat: JWT
      description: Access Token
      scheme: bearer
      type: http
      x-bearerInfoFunc: openapi_server.controllers.security_controller_.info_from_JWT
    JWTRefresh:
      bearerFormat: JWT
      description: Refresh Token
      scheme: bearer
      type: http
      x-bearerInfoFunc: openapi_server.controllers.security_controller_.info_from_JWTRefresh
